<div class="chat-container">
  <!-- Header with chat title -->
  <header class="chat-header">
    <h2 class="chat-title">Welcome, {{ currentUser?.username }}</h2>
  </header>

  <!-- Message area -->
  <div class="chat-messages">
    <div *ngFor="let message of messages"
         class="message"
         [ngClass]="{'sent': isPrivateMessage(message) ? message.sender.username === currentUser?.username : message.user.username === currentUser?.username}">
      <div class="message-info">
        <span class="message-user">{{ isPrivateMessage(message) ? message.sender.username : message.user.username }}:</span>
      </div>
      <div class="message-content">
        <span class="message-text">{{ isPrivateMessage(message) ? message.content : message.text }}</span>
      </div>
      <hr class="message-separator"/>
    </div>
  </div>

  <!-- Input field for sending a message -->
  <div class="chat-input">
    <input [(ngModel)]="newMessage" placeholder="Type a message..." class="input-field">
    <button (click)="sendMessage()" class="send-button">Send</button>
  </div>

  <!-- Separate container for user list and button -->
  <div class="user-list-container">
    <button (click)="toggleUserList()" class="user-list-toggle-button">
      {{ showUserList ? 'Hide Users' : 'Show Users' }}
    </button>

    <div *ngIf="showUserList" class="user-list">
      <h3>Users:</h3>
      <ul>
        <li *ngFor="let user of users" (click)="startPrivateChat(user)">
          {{ user.username }}
        </li>
      </ul>
    </div>
  </div>
</div>
